@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.heading-1 {
  color: #443636;
  line-height: 1em;
  font-size: 32px;
  font-weight: 900;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .heading-1 {
    font-size: 49px;
  }
}
@media (min-width: 1024px) {
  .heading-1 {
    font-size: 49px;
  }
}

.sub-head {
  color: #998C7A;
  line-height: 1em;
  font-size: 20px;
}

.section-title-heading {
  color: #443636;
  font-size: 40px;
  line-height: 1em;
  font-weight: 800;
  text-align: center;
}

.section-subhead {
  color: #A7836D;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section-subhead {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .section-subhead {
    width: 50%;
  }
}

.primary-button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.5em;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 22px 21px 0 rgba(0, 0, 0, 0.16);
  background-color: #F6914E;
  transition: all ease 0.4s;
}
.primary-button:hover {
  color: #FFFFFF;
  background-color: #2C5E2D;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .primary-button {
    text-decoration: none;
  }
}
@media (min-width: 1024px) {
  .primary-button {
    width: 40%;
  }
}

.section-default {
  padding-top: 80px;
  padding-bottom: 80px;
}

#hero-banner-wave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  pointer-events: none;
  bottom: -3px;
}

#nav {
  height: 80px;
  background-color: #f1d4c0;
  max-height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

.logo {
  margin-right: 10px;
}
.logo__img {
  width: 180px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bag {
  text-align: right;
}
.bag__link {
  color: #443636;
  text-decoration: none;
  transition: all ease 0.4s;
  font-size: 25px;
  margin-left: 10px;
}
.bag__link:hover {
  text-decoration: none;
  color: #2C5E2D;
}
.bag__icon {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  transition: margin-left 0.5s;
}
.mobile-menu__row {
  height: 80px;
  max-height: 80px;
  background-color: #f1d4c0;
}

.hamburger-menu__icon {
  font-size: 30px;
}
.hamburger-menu__link {
  color: #443636;
  color: #443636;
  text-decoration: none;
  transition: all ease 0.4s;
}
.hamburger-menu__link:hover {
  text-decoration: none;
  color: #2C5E2D;
}

.mobile-menu-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.mobile-menu-logo__img {
  width: 60px;
  height: auto;
}

.close-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 30px;
}

.sidebar-menu-offcanvas {
  background-color: #faf2ed;
  width: 80%;
}
.sidebar-menu-offcanvas .sidebar-menu {
  margin-top: 80px;
}
.sidebar-menu-offcanvas .sidebar-menu__link {
  color: #443636;
  text-decoration: none;
  transition: all ease 0.4s;
}
.sidebar-menu-offcanvas .sidebar-menu__link:hover {
  text-decoration: none;
  color: #2C5E2D;
}

.sidebar-menu__ul {
  list-style: none;
  padding: 0 50px;
  text-align: center;
  font-size: 20px;
}
.sidebar-menu__li {
  padding: 10px 0;
  border-bottom: 1px solid #F6914E;
}

.desktop-menu__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu__menus {
  color: #443636;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: all ease 0.4s;
}
.desktop-menu__menus:hover {
  color: #FFFFFF;
  background-color: #2C5E2D;
  border-radius: 5px;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1d4c0;
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner__row {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .hero-banner__row {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner {
    padding-top: 0;
    padding-bottom: 80px;
  }
}
@media (min-width: 1024px) {
  .hero-banner {
    padding-top: 0;
    padding-bottom: 80px;
  }
}
.hero-banner .hero-banner-product__img {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner .hero-banner-product__img {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  .hero-banner .hero-banner-product__img {
    width: 500px;
  }
}
.hero-banner .hero-banner-content {
  padding: 25px;
}
.hero-banner .hero-banner-content__title {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner .hero-banner-content__title {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero-banner .hero-banner-content__title {
    text-align: left;
  }
}
.hero-banner .hero-banner-content__subhead {
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-banner .hero-banner-content__subhead {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .hero-banner .hero-banner-content__subhead {
    text-align: left;
  }
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefaf8;
}
.benefits .benefits_section-title {
  margin-bottom: 50px;
}
.benefits__desc-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #FFFFFF;
  min-height: 80px;
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.benefits__desc {
  color: #443636;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  margin-top: 1rem;
  width: 80%;
}
.benefits__card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 30px;
  min-height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 3px 20px 0 rgba(37, 36, 36, 0.1);
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
