.hero-banner {
    @include middle;
    background-color: #f1d4c0;
    padding-top: 80px;
    height: 90vh;
    .hero-banner-product {
        &__img {
             width: 300px;
             height: auto;
             display: flex;
             justify-content: center;
             align-items: center;
         }
     }
     .hero-banner-content {
         &__title {
             text-align: center;
         }
     }
}

