.hero-banner {
    @include middle;
    background-color: $tertiary-color;
    padding-top: 80px;
    height: 100vh;
    .hero-banner-product {
        &__img {
             width: 300px;
             height: auto;
             display: flex;
             justify-content: center;
             align-items: center;
         }
     }
     .hero-banner-content {
        padding: 25px;
         &__title {
             text-align: center;
         }

         &__subhead {
            margin-top: 1rem;
            text-align: center;
         }
     }
}


