// TODO: Media Queries 
// *Tablet 
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  // *Desktop 
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
  
  // *Flexbox 
  @mixin middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // *Buttons
  @mixin default-button {
    color: $light-color;
    font-size: $body-size;
    line-height: $line-height;
    border-radius: $border-radius-btn;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: $box-shadow-btn
  }
  
  @mixin primary-button {
    @include default-button;
    background-color: $primary-color;
  }
  
  // *Typography 
  @mixin header-text {
    color: $heading-color;
    line-height: $line-height-heading;
  }
  
  @mixin sub-head {
    color: $sub-head-color;
    line-height: $line-height-heading;
  }
  
  @mixin heading-1 {
    @include header-text;
    font-size: $header1-size-sm;
    font-weight: 900;
  
    @include tablet {
      font-size: $header1-size-lg;
    }
  
    @include desktop {
      font-size: $header1-size-lg;
    }
  }
  
  @mixin sub-head {
    @include sub-head;
    font-size: $body-size-lg;
  }
  