// *Breakpoints 
$tablet-width: 768px;
$desktop-width: 1024px;
// *Fonts 
$primary-font-family:  'Raleway', sans-serif;
$secondary-font-family: 'Source Sans Pro', sans-serif;
// *Colors 
$primary-color: #F6914E;
$secondary-color: #2C5E2D;
$tertiary-color: #f1d4c0;
$light-color: #FFFFFF;
$heading-color: #443636;
$sub-head-color: #998C7A;
$body-color: #bb9984;
$body-bg-color: #faf2ed;
$card-bg-color: #eee6e6;
// *Typography
$line-height: 1.5em;
$line-height-heading: 1em;
$header1-size-lg: 49px;
$header1-size-sm: 32px;
$body-size: 16px;
$body-size-lg: 20px;
$body-size-sm: 14px;
$menu-icon-size: 30px;
$border: 1px solid $primary-color;
$border-radius-btn: 5px;
$box-shadow-btn: 0 22px 21px 0 rgba(0,0,0,0.16);